<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html lang="en"> 
  <head> 
    <title>Resume of Melissa Murphy</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  </head> 

  <body> 

    <h1>Melissa Murphy</h1> 

    <p> 
      1957 Lenox Road NE,<br> 
      Atlanta, Georgia/USA and 30306 
    </p> 

    <p> 
      404-769-4309<br> 
      melissa@rideredrover.com 
    </p> 


    <hr> 


    <h2>Work Experiences</h2> 

    <h3>RideRedRover, Inc. Co-Founder and CEO</h3> 
    <p>Responsiblities included </p> 

    <h3>Your Next To the Last Job</h3> 
    <p>Something like the previous one. Keep doing this h3 and p sequence til you get all your jobs.</p> 

    <h2>Proficiencies</h2> 

    <ol> 
      <li>Your Primary Skill</li> 
      <li>Another Skill</li> 
      <li>Keep doing this til you've listed all your skills.</li> 
    </ol> 


    <h2>Education</h2> 

    <h3>College or University</h3> 
    <p> 
      University of Georgia<br> 
      BS Psychology<br> 
      1994-1997</p> 

    <p>
      Southern Methodist University<br>
      1993-1994</p>
      

    <h3>Southern Methodist University</h3> 
    <p>
      </p> 


    <h2>References</h2> 

    <h3>Mr. John Doe</h3> 
    <p> 
      Your relation to Mr. John Doe<br> 
      How to contact Mr. John Doe 
    <p> 

    <h3>Mrs. Jane Doe</h3> 
    <p> 
      Your relation to Mrs. Jane Doe<br> 
      How to contact Mrs. Jane Doe 
    <p> 

  </body> 
</html>