<h1>Melissa Murphy</h1>
<h2>First time coder and clueless! </h2>
<ul>
	<li>Co-Founder, RideRedRover, Inc.</li>
	<li>Mommy to Tatum, Colby, Phoebe and PJ :) </li>
	<li>Currently in Batch 4 of the Flashpoint Startup Engineer Program. </li>
	<li>UGA Grad GO DAWGS SIC EM </li>
	<img src="">

	<img src="http://onwardstate.com/wp-content/uploads/2012/11/golden-retreiver-puppies.jpeg">





